



.botao{
    border: solid var(--cor_de_borda) 1px;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: bold;
    height: auto;
    width: auto;
   
   
}
.botao:hover {
    background: var(--cor_de_texto);
    color: rgb(255, 255, 255);;

    
}
.produto-servico{
 margin-left: 52rem;
 margin-top: 2rem;
 width: 3rem;
}

.botao_cadastro:hover{
    color: var(--cor_de_texto_claro);
    background: var(--cor_de_texto);
   
}
.botao_cadastro{
    border: solid var(--cor-de-texto_hover) 1px;
    padding: 0.4rem;
    
     border-radius: .5rem;
   width: 86%;
   margin-right: 1rem;
 
}
.cartao__botao{
    padding-top: 20px;
    border: solid var(--cor-de-texto_hover) 1px;
    padding: 0.4rem;
    
     border-radius: .5rem;
     
  width: 100%;
 
}
.botao__menu{
    border: solid var(--cor-de-texto_hover) 1px;
    padding: 0.4rem;
 
    border-radius: .5rem;
}
.botao__menu{
    color: var(--cinza-claro);
    background-color: var(--cor-de-texto_hover);
}.botao_login{
    border: solid var(--cor-de-texto_hover) 1px;
    padding: 0.4rem;
 
    border-radius: .5rem;
}
.botao_login:hover{
    border: solid var(--cor-de-texto) 1px;
    padding: 0.4rem;
    background: var(--cor-de-texto_hover);
    color: var(--cor_de_texto_claro);
    border-radius: .5rem;
}
@media screen and (min-width: 600px) {
  
}
